.advnt {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.advnt__list {
 

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 270px;
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: 270px;    }
}

.advnt__item {
    margin: 0 auto;
    max-width: 450px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px){
        width: 354px;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px){
        width: 270px;
    }
}

.advnt__icon {
    margin-bottom: 30px;
    padding: 25px 0;
    background-color: var(--grey-bg-color);

    display: flex;
    align-items: center;
    justify-content: center;

    // width: 270px;
    // height: 120px;
}

.advnt__title {
    margin-bottom: 10px;

    text-align: center;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advnt__about {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
}