.cstmrs {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
}

.cstmrs__title {
    margin: 0 auto 30px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.cstmrs__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (max-width: 479px) {
        justify-content: center;
    }
}

.cstmrs__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 210px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: color var(--anim-fast) var(--timing-function),
        border-color var(--anim-fast) var(--timing-function);

    @media screen and (min-width: 768px) {
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }

        &:hover, &:focus{
            color: #188CE8;
            border-color: #188CE8;
        }
}

.cstmrs__icon {
    --icon-logo-color: currentColor;
}