.hdr {
    border-bottom: 1px solid #ECECEC;
}

.hdr__container {
    max-height: 60px;

    @media screen and (max-width: 767px) {
        display: flex;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        max-height: 80px;
    }
}

.hdr__nav {
    @media screen and (min-width: 768px) {
        display: flex;
        margin-right: 96px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-right: 312px;
    }
}

.hdr__menu{
    display: none;

    @media screen and (min-width: 768px) {
            display: flex;
        }
}

.hdr__logo {
    padding: 16px 0;

    @media screen and (min-width: 768px) {
        margin-right: 88px;
        padding: 26px 0;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

}

.hdr__mobile-btn{
    padding: 10px 0;
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: color var(--anim-fast) var(--timing-function);

    &:hover, &:focus{
        color: var(--special-txt-cl);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.hdr__icon{
    --icon-logo-color: currentColor;
}

.hdr__list {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        }
    }


.hdr__item:not(:last-child) {
    @media screen and (min-width: 768px) {
            margin-right: 50px;
        }
    
}

.hdr__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);

    padding-top: 32px;
    padding-bottom: 32px;

    transition: color var(--anim-fast) var(--timing-function);

    &:hover, &:focus{
        color: var(--special-txt-cl);
    }
}

.hdr__link--current {
    color: var(--special-txt-cl);
    position: relative;

    @media screen and (min-width: 768px) {
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
    
            background-color: var(--special-txt-cl);
    
            position: absolute;
            bottom: 0;
        }
    }

}
