.prtf {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
}

.prtf__nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.prtf__item {
    &:not(:last-child){
        margin-right: 8px;
    }

    @media screen and (max-width: 767px) {
        &:nth-child(-n + 3){
            margin-bottom: 15px;
        }

        &:nth-child(3) {
            margin-right: 14px;
        }
    }
}

.prtf__btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    border: 0;
    padding: 6px 22px;
    border-radius: 4px;
    background-color: var(--grey-bg-color);
    cursor: pointer;

    transition: color var(--anim-fast) var(--timing-function),
        background-color var(--anim-fast) var(--timing-function),
        box-shadow var(--anim-fast) var(--timing-function);

    &:hover, &:focus{
        background-color: var(--special-txt-cl);
        color: #FFFFFF;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
}

.prtf__btn--act {
    color: #FFFFFF;
    background-color: #2196F3;

    &:hover, &:focus{
        background-color: #188CE8;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
}