.agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    width: 100%;
}

.agreement__checked-svg {
    opacity: 0;
    transition: opacity var(--anim-fast) var(--timing-function);

    .agreement__checkbox:checked + .agreement__icon & {
        opacity: 1;
    }
}

.agreement__checkbox:checked + .agreement__icon .agreement__unchecked-svg {
    opacity: 0;
    transition: opacity var(--anim-fast) var(--timing-function);
}

.agreement__label {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;
    color: #757575;

    user-select: none;

    @media screen and (min-width: 1199px) {
        font-size: 14px;
        line-height: calc(24 / 14);
    }
}

.agreement__link {
    color: var(--special-txt-cl);
    text-decoration: underline;
}