.logo {
    display: block;

    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.03em;
    color: var(--special-txt-cl);

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: calc(31 / 26);
    }
}

.logo__text--black {
    color: var(--main-txt-cl);
}

.logo__text--white {
    color: #FFFFFF;
}
