.logo {
    display: block;

    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.13;
    letter-spacing: 0.03em;
    color: var(--special-txt-cl);
}

.logo__text--black {
    color: var(--main-txt-cl);
}

.logo__text--white {
    color: #FFFFFF;
}
