.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity var(--anim-fast) var(--timing-function),
        visibility var(--anim-fast) var(--timing-function);

    &.is-hidden{
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

// .backdrop.is-hidden {

// }


.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    width: 450px;
    min-height: 609px;
    padding: 40px;

    background-color: #FFFFFF;
    transition: transform var(--anim-fast) var(--timing-function);

    @media screen and (min-width: 1200px) {
        width: 528px;
        min-height: 581px;
    }

    &.is-hidden .modal{
        transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
    }
}

// .backdrop.is-hidden .modal {
//     transform: translate(-50%, -50%) scale(0.3) rotate(1turn);
// }


.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    outline: transparent;
    cursor: pointer;

    transition: fill var(--anim-fast) var(--timing-function),
        border-color var(--anim-fast) var(--timing-function);

    &:hover, &:focus{
        fill: var(--special-txt-cl);
        border-color: var(--special-txt-cl);
    }
}